html {
    background-color: rgb(253, 251, 251);
    font-family: "Roboto", sans-serif;
}
body {
  margin: auto;
  padding: 0;
}
header {
    width: 100%; 
    height: 60px;
    padding: 2rem 1rem;
    background: linear-gradient(180deg, #302e2e, #190606); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}
nav { 
    margin: auto;    /* center horizontally */
    padding: 0 10rem;   
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;            /* makes items line up horizontally */
    list-style: none;        
    margin: 0;
    gap: 1rem;             
  }
nav a {
  position: relative;
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.5rem;
  padding: 0.4rem 1rem;
  border-radius: 50% 20% / 30% 60%; 
  transition: all 0.3s ease;
}
nav a:hover {
  background-color: yellow;
  color: black;
  transform: scale(1.05);
}
nav a.active {
  font-weight: bold;
}
main {
    padding: 1rem;
  }
 .team { /* for teampage */
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  font-family:"Roboto", sans-serif;
  margin: 20px;
  padding: 20px;
  width: 250px;
  float: left;
}
.box { /* for teampage */
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  width: 1250px;
  text-align: center;
  font-family:"Roboto", sans-serif;
   float: left;
 

}