html {
    background-color: rgb(253, 251, 251);
    font-family: "Space Mono", monospace;
} 
body {
  margin: auto;
  padding: 0;
}

.layout {
  width: 100%;

  display: grid;
  grid:
    "header header header" auto
    "leftSide body rightSide" 1fr
    "footer footer footer" auto
    / auto 1fr auto;
  gap: 8px;
}
.header {
    grid-area: header; 
    overflow: hidden;
    position: fixed;
    width: 100%; 
    height: 60px;
    padding: 2rem 1rem;
    background: linear-gradient(180deg, #302e2e, #190606); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    color: #ffffff;
    font-family: "Space Mono";
    font-size: 19px;
    line-height: 40px;
    font-weight: 700;
}

.leftSide { grid-area: leftSide; }

.body { grid-area: body; }

.rightSide { grid-area: rightSide; }

.footer { grid-area: footer; }

nav { 
    margin: auto;    /* center horizontally */
    padding: 0 10rem; 
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;            /* makes items line up horizontally */
    list-style: none;        
    margin: 0;
    gap: 1rem;             
  }
nav a {
  position: relative;
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.5rem;
  padding: 0.4rem 1rem;
  border-radius: 50% 20% / 30% 60%; 
  transition: all 0.3s ease;
}
nav a:hover {
  background-color: #ddf555;
  color: black;
  transform: scale(1.05);
}
nav a.active {
  font-weight: bold;
}
main {
    padding: 1rem;
  }

  /* style for algorithm-page*/

.box1 {
      border: 2px solid #333;
      border-radius: 10px;
      padding: 20px;
      max-width: 600px;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      margin: 40px auto;
    }

.container{
  width: 100%;
  min-height: 100vh;
  padding: 5%;
  background-color: #e5c7fb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-main{
  display: flex;
  padding: 2%;
}

.search-bar{
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(180%);
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

.search-bar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-family: inherit;
  font-size: 20px;
  color: #000000;
}

::placeholder{
  color: #807e7e;
}

.search-bar button img{
  width: 25px;
}

.search-bar button{
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #ddf555;
  cursor: pointer;
}


.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-column: span 4 / span 4;
}

.div2 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 3;
}

.div4 {
    grid-column-start: 2;
    grid-row-start: 4;
}

.div5 {
    grid-column-start: 3;
    grid-row-start: 4;
}

.div6 {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 5;
}
        
.team { 
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  margin: 20px;
  padding: 20px;
  width: 250px;
  float: left;
}
.box2 { /* for teampage */
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  width: 1250px;
  text-align: center;
  float: left;
 
} 
