html {
    background-color: rgb(179, 172, 172);
}
body {
  margin: 0;
  padding: 0;
}
header {
    overflow: hidden;
    position: fixed;
    width: 100%; 
    height: 40px;
    padding: 1rem 1rem;
    background-color: azure;
}

nav ul {
    display: flex;            /* makes items line up horizontally */
    list-style: none;        /* removes bullet points */
    padding: 14px 16px;
    margin: 0;
    gap: 1rem;               
  }
  nav a {
    text-decoration: none;
    color: black;
  }
  main {
    margin: 0;
    padding: 1rem;
  }

.container{
  width: 100%;
  min-height: 100vh;
  padding: 5%;
  background-color: #e5c7fb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-main{
  
}

.search-bar{
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #000000;
}

::placeholder{
  color: #000000;
}

.search-bar button img{
  width: 25px;
}

.search-bar button{
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #ddf555;
  cursor: pointer;
}