html, body {
      height: 100%;
      margin: 0;
      font-family: "Space Mono", monospace;
      background-color: #e5c7fb; 
}

body {
      justify-content: center; 
      display: block;
      text-align: center;     
}
header { 
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%; 
    height: 60px;
    padding: 20px;
    background: linear-gradient(180deg, #302e2e, #190606); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    font-weight: 700;
}
h1 {
  text-align: center;
}
.table-container {
  overflow-x: auto;   
  overflow-y: hidden;    
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140, 140, 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;   
}
th,
td {
  border: 1px solid rgb(160, 160, 160);
  padding: 8px 6px;
  white-space: nowrap; 
}

td {
  text-align: center;
}
nav { 
    margin: auto;   
    padding: 0 10rem; 
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;           
    list-style: none;        
    gap: 1rem;             
  }
nav a {
  position: relative;
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  padding: 0.4rem 1rem;
  border-radius: 50% 20% / 30% 60%; 
}
nav a:hover {
  background-color: #ddf555;
  color: black;
 
}
.box1 {
      border: 2px solid #333;
      border-radius: 10px;
      text-align: left;
      padding: 5%;
      margin: auto;
      margin-top: 200px;
      max-width: 600px;
      height: fit-content;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
.box2-container {
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  gap: 20px; 
  margin-top: 100px; 
}
.box2 {
  background-color: #fff;
  border: 2px solid black;
  padding: 10px;
  width: fit-content; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
.cblock{
  background-color: #282c34; 
  color: #f8f8f2;           
  padding: 15px;
  border-radius: 8px;
  font-family: Consolas, Monaco, 'Courier New', monospace;
  overflow-x: auto;        
}

.cblock ul {
      list-style: none;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 50px;
  width: 100%;
  margin-inline: auto;
}
.team {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  width: 250px;
}
footer {
  height: 200px;
}
.team img {
  width: 250px;
  height: 250px;
}
.box2 img {
  width: 300px;
  height: 300px;
}